.mainbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #AED6F1;
  max-width: 300px;
  height: 500px;
  margin: 120px auto;
  padding: 1% 2%;
  border-radius: 25px;
  border: solid 2px;
}

.title {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 10%;
  width: 80%;

  font-size: 150%;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 70%;
  margin: 5% 0;

  border: solid 2px;
}

.loginitem {
  padding: 2%;
  margin: 2%;
  width: 80%;
}

.loginbtn {
  margin: 5%;
}

.socialbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #5DADE2;
  height: 10s%;
  width: 100%;

  border: solid 2px;
}

.facebooklink {
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 50%;
  max-width: 6%;
  margin: 0 2%;
}

.facebookicon {
  max-width: 100%;
  margin-left: 5%;
}
.loginbtn{
  border-radius: 25px;
  height: 25px;
  width: 100px;
}
.loginbtn:hover{
  background:  #D7BDE2;
}